@import "../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap");
.fadeIn {
  animation: fadeInAnimation 3.5s linear;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.this {
  color: rgb(210, 197, 223);
  font-family: "Ephesis", cursive;
  font-size: 4em;
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.bio {
  color: rgb(255, 255, 255);
  font-family: "calibri", cursive;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

.discord:hover {
  border-color: #bc2bff;
  box-shadow: 0 0 8px rgba(121, 37, 255, 0.6);
}
